body {
  background-color: #f2f2f2;
  margin: 0;
}

.fly2box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header {
  height: 25px;
  background-color: #222;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header_text {
  flex: 1;
  font-size: 20px;
  width: 370px;
  height: 25px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;

  text-align: left;
}

.header_image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.svg-container {
  display: flex;
}

.svg-container > svg {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100px;
  margin: 10px;
}

th {
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

td {
  background-color: white;
  padding: 0px;
  text-align: center;
}

.separator-sv {
  border-top: 3px solid lightgray;
}

.separator {
  border-right: 2px solid black;
  height: 100%;
}

.stretched-image {
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
  /*text-align: left;*/
}

.line1 {
  font-weight: bold;
}

.line2 {
  font-size: 20px;
}

.form-container {
  display: flex;
  align-items: center;
}

Button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff4500;
}

.form-container,
.text-container,
.svg-container {
  background-color: #fff;
  /*border-radius: 5px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*.azerty9 {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}
*/
.azerty9 a {
  font-size: 12px;
  text-decoration: none;
  color: #ff6600;
  font-weight: bold;
}

.logout-link {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s;
}

.logout-link:hover {
  color: orange;
}
